@model InventoryManagmentSystem.Models.InvoiceViewModel
@{
    ViewBag.Title = "InvoiceView";
}

@{
    int totalQuantity = 0;
    decimal totalPrice = 0;
    int invoiceId = 0; 

    foreach (var item in Model.InvoiceItems)
    {
         
        totalQuantity += item.TotalQuantity;
        totalPrice += (item.TotalQuantity * item.Price); // Calculate total price for each item
        invoiceId = item.InvoiceId;

        if (invoiceId == 0)
        {
            invoiceId = item.InvoiceId;
        }
    }
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- Custom Style -->
<link href="~/Content/Invoice-style.css" rel="stylesheet" />
<title>Invoice..!</title>
<body>
    <div class="my-5 page" size="A4">
        <div class="p-5">
            <section class="top-content bb d-flex justify-content-between">
                <div class="logo">
                    <img src="~/Img/ICBT Logo.jpg" alt="" class="img-fluid">
                </div>
                <div class="top-left">
                    <div class="graphic-path">
                        <p>Invoice</p>
                    </div>
                    <div class="position-relative">
                        <p>Invoice No. <span>0007</span></p>
                    </div>
                </div>
            </section>
            <section class="store-user mt-5">
                <div class="col-10">
                    <div class="row bb pb-3">
                        <div class="col-7">
                            @*<p>Supplier,</p>*@
                            <h5>INVENTORY MANAGMENT</h5>
                            @*<p class="address"> 777 Brockton Avenue, <br> Abington MA 2351, <br>Vestavia Hills AL </p>
                                <div class="txn mt-2">TXN: XXXXXXX</div>*@
                        </div>
                        <div class="col-5">
                            @*<p>Client,</p>*@
                            <h5>@Model.CustomerDetails.CustomerName</h5>
                            <p class="address">@Model.CustomerDetails.CustomerAddress <br>  </p>
                            <div class="txn mt-2">@Model.CustomerDetails.CustomerPhoneNumber</div>
                        </div>
                    </div>
                    <div class="row extra-info pt-3">
                        <div class="col-7">
                            <p>Payment Method: <span>Cash </span></p>
                            <p>Order Number: <span>#868</span></p>
                        </div>
                        <div class="col-5">
                            <p>Date: <span>@DateTime.Now.ToString("yyyy-MM-dd")</span></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-area mt-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Brand Name</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Total Quantity</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InvoiceItems)
                        {
                            <tr>
                                <td>@item.BrandName</td>
                                <td>@item.ProductName</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>@item.TotalQuantity</td>
                                <td>@item.TotalPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
            <section class="balance-info">
                <div class="row">
                    <div class="col-4">
                        <table class="table border-0 table-hover">
                            <tr>
                                <td>Total Quantity: </td>
                                <td>@totalQuantity</td>
                            </tr>
                            <tr>
                                <td>Total Price :</td>
                                <td>@totalPrice</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</body>